[submodule "Image-Receiver"]
	path = Image-Receiver
	url = https://github.com/LeeYang2019/Image-Receiver.git
[submodule "PokemonGo_Console-based"]
	path = PokemonGo_Console-based
	url = https://github.com/LeeYang2019/PokemonGo_Console-based.git
[submodule "HuffmanNode"]
	path = HuffmanNode
	url = https://github.com/LeeYang2019/HuffmanNode.git
[submodule "measuring_cup"]
	path = measuring_cup
	url = https://github.com/LeeYang2019/measuring_cup.git
[submodule "portal_snake"]
	path = portal_snake
	url = https://github.com/LeeYang2019/portal_snake.git
[submodule "pants_on_fire"]
	path = pants_on_fire
	url = https://github.com/LeeYang2019/pants_on_fire.git
[submodule "movie_db"]
	path = movie_db
	url = https://github.com/LeeYang2019/movie_db.git
[submodule "game_of_life"]
	path = game_of_life
	url = https://github.com/LeeYang2019/game_of_life.git
[submodule "recipe_wrangler"]
	path = recipe_wrangler
	url = https://github.com/LeeYang2019/recipe_wrangler.git
[submodule "my_favorite_places"]
	path = my_favorite_places
	url = https://github.com/LeeYang2019/my_favorite_places.git
